/* Your styles here */
/* GENERALE */
html {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0em;
}

aside > a, article > a  {
    color:rgb(0, 173, 179);
    text-decoration: none;
    font-weight: bold;
}

/* HEADER */
header {
    background-color: #222f3f;
    padding: 1em;
    padding-left: 2em;
}



/* NAV */

nav {
    background-color: #364759;
    padding-left: 1em;
}

nav a {
    color: #c9e0f8;
    font-size: medium;
    text-decoration: none;
    padding-left: 1em;
}

/* SECTION CON TITOLO */

section {
    text-align: center;
    color: white;
}

section div {
    background-image: url('../images/bg-image.png');
    padding: 2em;
    background-size: 80em;
}

section p:first-child {
    background-color:#F56600;
    color: white;
    margin: 2em;
    text-align: center;
    padding: 5px;
}

/* ASIDE*/

aside {
    background-color: white;
    margin-top: 2em;
}

aside h3 {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-right: 1em;
    margin-left: 1em;
}

aside a {
    font-weight: bold;
}

.box {
    display: inline-block;
}

.imgDIV {
    display: inline-block;
    border-radius: 30%;
}


/* ARTICLE */

article h3 {
    font-size: larger;
    display: inline-block;
    text-align: center;
    margin-right: 1em;
    margin: 1em;
}


/* FOOTER */

.back {
    text-align: center;
    background-color: #364759;
    padding: 17px;
    font-weight: bold;
}

footer a {
    color: white;
}

.logo {
    background-color: #222f3f;
    padding: 5em;
    text-align: center;
}