/* Your styles here */
/* GENERALE */
html {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0em;
}

aside > a, article > a  {
    color:rgb(0, 173, 179);
    text-decoration: none;
    font-weight: bold;
}

/* HEADER */
header {
    background-color: #222f3f;
    padding: 1em;
}



/* NAV */

nav {
    background-color: #364759;
}

nav a {
    color: #c9e0f8;
    font-size: smaller;
    text-decoration: none;
}

/* SECTION CON TITOLO */

section {
    text-align: center;
    color: white;
}

section div {
    background-image: url('../images/bg-image.png');
    padding: 2em;
    background-size: 60em;
}

section p:first-child {
    background-color:#F56600;
    color: white;
    margin: 2em;
    text-align: center;
    padding: 5px;
}

/* ASIDE*/

aside {
    background-color: white;
}

.imgDIV {
    margin: 1em;
    border-radius: 10%;
} 



/* ARTICLE */

article h3 {
    text-align: center;
    font-size: larger;
}

/* FOOTER */

footer {
    background-color: #222f3f;
}

footer > a {
    text-decoration: none;
    color: white;
    text-align: center;
    margin: 25em;
}

footer div {
    background-color: #222f3f;
    padding: 1em;
}